{#
FAQ Section Component

Usage:
{%- set faqItems = faqs.about %}
{% include "components/faq.njk" %}

Parameters:
faqItems (required) - Array of { question, answer } objects
#}

<section class="bg-white py-[80px] z-10 relative mb-[656px] sm:mb-[464px]">
  <div class="container">
    <div class="flex flex-col lg:flex-row gap-[40px]">
      <div class="flex flex-col flex-1 gap-[20px]">
        <h2 class="text-navy heading-2-bold">Frequently Asked Questions</h2>
        <p class="body-text hidden lg:block">
          Still have a question? <br>Reach out to us by
          <a href="mailto:{{ site.email }}" class="text-teal underline">email</a>
          or
          <a href="{{ site.social.instagram }}" class="text-teal underline" target="_blank"
            rel="noopener noreferrer">Instagram</a>.
        </p>
      </div>
      <div class="flex flex-col w-full flex-1">
        {%- for faq in faqItems %}
        <div
          class="w-full flex flex-col gap-[20px] {% if loop.first %}pb-[20px]{% else %}pt-[20px] pb-[20px]{% endif %} border-b-[3px] border-dashed border-terqoise">
          <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false" data-accordion-trigger
            type="button">
            <span class="flex items-center w-[40px] h-[40px]">
              <img src="/assets/svgs/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]" data-icon-plus>
              <img src="/assets/svgs/accordion-sun.svg" alt="Sun Icon" class="hidden w-[40px]" data-icon-minus>
            </span>
            <span class="text-navy heading-6-medium text-left">{{ faq.question }}</span>
          </button>
          <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out" data-accordion-content>
            <span class="text-navy mt-[20px]">{{ faq.answer }}</span>
          </div>
        </div>
        {%- endfor %}
      </div>
      <p class="body-text lg:hidden">
        Still have a question? <br>Reach out to us by
        <a href="mailto:{{ site.email }}" class="text-teal underline">email</a>
        or
        <a class="text-teal underline" href="{{ site.social.instagram }}" target="_blank"
          rel="noopener noreferrer">Instagram</a>.
      </p>
    </div>
  </div>

  <div class="absolute bottom-[-100px] left-0 w-screen h-[100px] overflow-hidden">
    <img src="/assets/svgs/section-cloud.svg" alt=""
      class="absolute rotate-180 inset-0 w-full h-full object-cover object-center">
  </div>
</section>

<script>
  document.querySelectorAll('[data-accordion-trigger]').forEach(button => {
    const content = button.nextElementSibling;
    const iconPlus = button.querySelector('[data-icon-plus]');
    const iconMinus = button.querySelector('[data-icon-minus]');

    button.addEventListener('click', () => {
      const isExpanded = button.getAttribute('aria-expanded') === 'true';

      if (isExpanded) {
        content.style.maxHeight = '0';
        button.setAttribute('aria-expanded', 'false');
        iconPlus.classList.remove('hidden');
        iconMinus.classList.add('hidden');
      } else {
        content.style.maxHeight = content.scrollHeight + 'px';
        button.setAttribute('aria-expanded', 'true');
        iconPlus.classList.add('hidden');
        iconMinus.classList.remove('hidden');
      }
    });
  });
</script>