---
layout: base/base.njk
title: ""
description: ""
---

<section class="pt-[180px] pb-[180px] sticky top-0 z-5 bg-cream">
  <div class="container">
    <div class="flex flex-col items-center">
      <h1 class="text-navy heading-1-bold">About</h1>
    </div>
  </div>
</section>

<!-- Top Section -->
<section class="bg-white py-[80px] relative z-10">
  <div class="flex flex-col container gap-[50px]">
    <div class="flex flex-col gap-[20px] items-center">
      <h2 class="heading-2-bold text-center text-navy">The Team</h2>
      <p class="body text-navy text-center max-w-2xl">
        We are among the most highly qualified sleep consultants you can find,
        and we’re here to support you with expert guidance, compassion, and care
        every step of the way. You’re not alone—we’re in this together.
      </p>
    </div>

    <div class="flex justify-center">
      <div class="relative w-full lg:w-[95%] px-4 lg:px-0">
        <svg
          class="absolute -top-3 left-1/2 -translate-x-1/2 w-6 h-6 z-20"
          viewBox="0 0 100 100"
        >
          <circle
            cx="50"
            cy="50"
            r="40"
            fill="#6fcec6"
            stroke="#6fcec6"
            stroke-width="10"
          />
        </svg>

        <div class="relative lg:rotate-[-2deg] w-full">
          <div
            class="relative border-[10px] lg:border-[20px] border-navy bg-cream rounded-lg shadow-lg lg:p-[40px] p-[20px]"
          >
            <div class="flex flex-col justify-center items-center gap-[20px]">
              <h3 class="heading-6-bold text-center">
                Hannah - Founder & Qualified Sleep Consultant
              </h3>

              <p class="text-center body-text">
                I'm Hannah Hiles, Mum of 2 and a Gentle and Holistic Sleep
                Consultant.
              </p>

              <p class="text-center body-text">
                I had my own sleep struggles with my first son and was given
                not-so-great advice by Sleep Consultants who charged me a lot of
                money to tell me to leave my son to cry as he was overtired.
              </p>

              <p class="text-center body-text">
                Everything in me told me this was wrong so I ignored the advice
                and was chronically sleep-deprived for 18 months.
              </p>

              <p class="text-center body-text">
                Fast forward to my second son, I undertook an OCN Level 6 course
                which armed me with knowledge about the sleep biology of babies
                and children.
              </p>

              <div class="lg:pr-[150px] flex flex-col gap-[20px]">
                <p class="text-center body-text">
                  Now I help families everyday get more sleep by being fully
                  responsive to their babies. That means rocking, feeding to
                  sleep, co-sleeping and whatever other method you like to use.
                </p>

                <p class="sm:pr-[100px] text-center body-text">
                  I do not use any cry-it-out or controlled crying methods
                  whatsoever. They don't work long-term. I educate you on your
                  baby's individual sleep needs and give you a knowledge toolbox
                  to take with you even after we're finished working together.
                </p>
              </div>
            </div>

            <div
              class="w-[180px] relative mx-auto lg:absolute lg:-bottom-10 lg:-right-10 bg-white px-[20px] pt-[20px] rounded-md shadow-xl lg:rotate-[4deg] rotate-0 border border-neutral-200 z-30"
            >
              <!-- PIN ON POST-IT -->
              <svg
                class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 z-50"
                viewBox="0 0 100 100"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="#6fcec6"
                  stroke="#6fcec6"
                  stroke-width="10"
                />
              </svg>

              <img
                src="/assets/team-carley.png"
                alt=""
                class="w-[150px] object-cover rounded-sm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute top-[-100px] left-0 w-screen h-[100px] overflow-hidden">
    <img
      src="/assets/icons/section-cloud.svg"
      alt=""
      class="absolute inset-0 w-full h-full object-cover object-center"
    />
  </div>
</section>

<section class="bg-cream py-[80px] relative z-10 overflow-x-hidden">
  <div class="flex flex-col container gap-[50px]">
    <div class="flex justify-center">
      <div class="relative w-full lg:w-[95%] px-4 lg:px-0">
        <!-- TOP PIN -->
        <svg
          class="absolute -top-3 left-1/2 -translate-x-1/2 w-6 h-6 z-20"
          viewBox="0 0 100 100"
        >
          <circle
            cx="50"
            cy="50"
            r="40"
            fill="#6fcec6"
            stroke="#6fcec6"
            stroke-width="10"
          />
        </svg>

        <!-- ROTATION WRAPPER -->
        <div class="relative w-full lg:rotate-[2deg]">
          <!-- CLIPBOARD PANEL -->
          <div
            class="relative border-[10px] lg:border-[20px] border-navy bg-white rounded-lg shadow-lg p-[20px] lg:p-[40px]"
          >
            <!-- TEXT CONTENT -->
            <div class="flex flex-col justify-center items-center gap-[20px]">
              <h3 class="heading-6-bold text-center">
                Carley - Qualified Sleep Consultant
              </h3>

              <p class="text-center body-text">
                Hi there! I’m Carley and I’m a holistic baby sleep consultant,
                certified OCN level 6. I’m based in the beautiful
                Garmisch-Partenkirchen, Germany. At 38 years old, I’ve spent the
                last 15 years working as a special education teacher, which has
                given me invaluable experience in understanding and nurturing
                little ones.
              </p>

              <p class="text-center body-text">
                I’m also a proud mom to my one-year-old daughter, and happily
                married.
              </p>

              <p class="text-center body-text">
                I have a deep interest in the science behind baby and child
                brain development and sleep science, and I love incorporating
                this knowledge into my practice.
              </p>

              <p class="lg:pl-[100px] text-center body-text">
                When I’m not helping families achieve restful nights, you can
                find me cycling and mountain biking, as I’m an avid athlete.
              </p>

              <p class="lg:pl-[100px] text-center body-text">
                I’m passionate about helping families find gentle, holistic
                solutions for sleep, and I can’t wait to support you and your
                little one on this journey!
              </p>
            </div>

            <!-- POST-IT IMAGE (RESPONSIVE) -->
            <div
              class="w-[180px] relative mx-auto mt-6 lg:absolute lg:-bottom-10 lg:-left-10 bg-cream px-[20px] pt-[20px] rounded-md shadow-xl rotate-0 lg:rotate-[4deg] border border-neutral-200 z-30"
            >
              <!-- PIN ON POST-IT -->
              <svg
                class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 z-50"
                viewBox="0 0 100 100"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="#6fcec6"
                  stroke="#6fcec6"
                  stroke-width="10"
                />
              </svg>

              <img
                src="/assets/team-carley.png"
                alt="Carley"
                class="w-[150px] object-cover rounded-sm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bottom Section -->
<section class="bg-white py-[80px] z-10 relative mb-[480px]">
  <div class="container">
    <div class="flex flex-col lg:flex-row gap-[20px]">
      <div class="flex flex-col flex-1 gap-[20px]">
        <h2 class="text-navy heading-4-bold">Frequently Asked Questions</h2>
        <p class="body-text hidden lg:block">
          Still have a question? <br />Reach out to us by
          <a href="mailto:info@centre-screen.com" class="text-teal underline"
            >email</a
          >
          or
          <a
            href="https://www.instagram.com/centre.screen/"
            class="text-teal underline"
            >Instagram</a
          >.
        </p>
      </div>
      <div class="flex flex-col w-full flex-1">
        <div
          class="w-full flex flex-col pb-[20px] border-b-[3px] border-dashed border-terqoise"
        >
          <button
            class="flex items-center cursor-pointer gap-[12px]"
            aria-expanded="false"
            data-accordion-trigger
          >
            <span class="flex items-center w-[40px] h-[40px]">
              <img
                src="/assets/icons/accordion-moon.svg"
                alt="Moon Icon"
                class="block w-[32px]"
                data-icon-plus
              />

              <img
                src="/assets/icons/accordion-sun.svg"
                alt="Moon Icon"
                class="hidden w-[40px]"
                data-icon-minus
              />
            </span>
            <h3 class="text-navy heading-6-medium text-left">
              What is a 'Holistic' Sleep Consultant and whats different?
            </h3>
          </button>

          <div
            class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
            data-accordion-content
            style="max-height: 0px"
          >
            <p class="text-navy mt-[20px]">
              Holistic means that I look at the full picture. I'll send you a
              sleep diary to complete which gives me a detailed look into your
              childs sleep. Then we'll have a conversation where I'll ask you
              lots of questions about your child's temperament, your goals and
              your non-negotiables. The sleep plan we come up with together is
              tailored to your child and your family. I never do the same one
              twice.
            </p>
          </div>
        </div>

        <div
          class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise"
        >
          <button
            class="flex items-center cursor-pointer gap-[12px]"
            aria-expanded="false"
            data-accordion-trigger
          >
            <span class="flex items-center w-[40px] h-[40px]">
              <img
                src="/assets/icons/accordion-moon.svg"
                alt="Moon Icon"
                class="block w-[32px]"
                data-icon-plus
              />

              <img
                src="/assets/icons/accordion-sun.svg"
                alt="Moon Icon"
                class="hidden w-[40px]"
                data-icon-minus
              />
            </span>
            <h3 class="text-navy heading-6-medium text-left">
              Do you use controlled crying or Ferber style methods?
            </h3>
          </button>

          <div
            class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
            data-accordion-content
            style="max-height: 0px"
          >
            <p class="text-navy mt-[20px]">
              Absolutely not. You don't need these methods to help your little
              one get more sleep. Many parents have been desperate and resorted
              to these methods because its seemed like the only option, but its
              not. Theres never any judgement from me if you've used these
              methods before, I used a variation of Ferber with my own son
              before I knew there were other more gentle ways.
            </p>
          </div>
        </div>

        <div
          class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise"
        >
          <button
            class="flex items-center cursor-pointer gap-[12px]"
            aria-expanded="false"
            data-accordion-trigger
          >
            <span class="flex items-center w-[40px] h-[40px]">
              <img
                src="/assets/icons/accordion-moon.svg"
                alt="Moon Icon"
                class="block w-[32px]"
                data-icon-plus
              />

              <img
                src="/assets/icons/accordion-sun.svg"
                alt="Moon Icon"
                class="hidden w-[40px]"
                data-icon-minus
              />
            </span>
            <h3 class="text-navy heading-6-medium text-left">
              Do you have any qualifications?
            </h3>
          </button>

          <div
            class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
            data-accordion-content
            style="max-height: 0px"
          >
            <p class="text-navy mt-[20px]">
              Yes! I have completed an OCN Level 6 course which is a Masters
              Level course studying child sleep biology and analyses hundreds of
              sleep studies on children. I will always educate families on child
              sleep biology as it helps to understand why your child is waking
              and this helps you make decisions in future about their sleep.
            </p>
          </div>
        </div>

        <div
          class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise"
        >
          <button
            class="flex items-center cursor-pointer gap-[12px]"
            aria-expanded="false"
            data-accordion-trigger
          >
            <span class="flex items-center w-[40px] h-[40px]">
              <img
                src="/assets/icons/accordion-moon.svg"
                alt="Moon Icon"
                class="block w-[32px]"
                data-icon-plus
              />

              <img
                src="/assets/icons/accordion-sun.svg"
                alt="Moon Icon"
                class="hidden w-[40px]"
                data-icon-minus
              />
            </span>
            <h3 class="text-navy heading-6-medium text-left">
              Do you use controlled crying or Ferber style methods?
            </h3>
          </button>

          <div
            class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
            data-accordion-content
            style="max-height: 0px"
          >
            <p class="text-navy mt-[20px]">
              Absolutely not. You don't need these methods to help your little
              one get more sleep. Many parents have been desperate and resorted
              to these methods because its seemed like the only option, but its
              not. Theres never any judgement from me if you've used these
              methods before, I used a variation of Ferber with my own son
              before I knew there were other more gentle ways.
            </p>
          </div>
        </div>
      </div>
      <p class="body-text lg:hidden">
        Still have a question? <br />Reach out to us by
        <a href="mailto:info@centre-screen.com" class="text-teal underline"
          >email</a
        >
        or
        <a
          class="text-teal underline"
          href="https://www.instagram.com/centre.screen/"
          >Instagram</a
        >.
      </p>
    </div>
  </div>

  <div
    class="absolute bottom-[-100px] left-0 w-screen h-[100px] overflow-hidden"
  >
    <img
      src="/assets/icons/section-cloud.svg"
      alt=""
      class="absolute rotate-180 inset-0 w-full h-full object-cover object-center"
    />
  </div>
</section>

<script>
  document.querySelectorAll("[data-accordion-trigger]").forEach((button) => {
    const content = button.nextElementSibling;
    const iconPlus = button.querySelector("[data-icon-plus]");
    const iconMinus = button.querySelector("[data-icon-minus]");

    button.addEventListener("click", () => {
      const isExpanded = button.getAttribute("aria-expanded") === "true";

      if (isExpanded) {
        content.style.maxHeight = "0";
        button.setAttribute("aria-expanded", "false");
        iconPlus.classList.remove("hidden");
        iconMinus.classList.add("hidden");
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
        button.setAttribute("aria-expanded", "true");
        iconPlus.classList.add("hidden");
        iconMinus.classList.remove("hidden");
      }
    });
  });
</script>
