---
layout: base/base.njk
title: "About"
description: "Meet the It Takes a Village team — OCN Level 6 qualified holistic sleep consultants. A gentle, responsive
approach to baby sleep, tailored to your child and your family."
---

<section class="pt-[180px] pb-[180px] sticky top-0 z-5 bg-cream">
  <div class="container">
    <div class="flex flex-col items-center">
      <h1 class="text-navy heading-1-bold" data-reveal>About</h1>
    </div>
  </div>
</section>

<!-- OCN Qualified Cards
<section class="bg-white py-[80px] relative z-10">
  <div class="container">
    <div class="flex flex-col gap-[40px]">
    </div>
  </div>

  <div class="absolute top-[-100px] left-0 w-screen h-[100px] overflow-hidden">
    <img src="/assets/svgs/section-cloud.svg" aria-hidden="true"
      class="absolute inset-0 w-full h-full object-cover object-center">
  </div>
</section> -->

<!-- Team Cards -->
<section class="bg-white py-[80px] relative z-10">
  {% include "components/team.njk" %}

    <div class="absolute top-[-100px] left-0 w-screen h-[100px] overflow-hidden">
    <img src="/assets/svgs/section-cloud.svg" aria-hidden="true"
      class="absolute inset-0 w-full h-full object-cover object-top">
  </div>
</section>


{%- set faqItems = faqs.about %}
{%- set stickyLeftFaq = true %}
{% include "components/faq.njk" %}