---
layout: base/base.njk
title: ""
description: ""
---

<style>
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 450px;
        height: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;

        color: var(--color-navy);
        background-color: var(--color-cream);
        padding: 20px 22px 20px 22px;
        border-radius: 100%;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 16px;
    }

    /* Space them horizontally */
    .swiper-button-next {
        left: 60px;
    }

    .swiper-button-prev {}
</style>

<section class="pt-[180px] pb-[180px] sticky top-0 z-5 bg-cream">
    <div class="container">
        <div class="flex flex-col items-center">
            <h1 class="text-navy heading-1-bold">Packages</h1>
        </div>
    </div>
</section>

<!-- Hannah Video Section -->
<section class="bg-white py-[80px] relative z-10">
    <div class="container">
        <div class="flex flex-col lg:flex-row gap-[20px]">
            <div class="flex flex-col flex-1 gap-[20px] justify-center items-center">
                <h2 class="text-navy heading-2-bold">Welcome!</h2>
                <p class="body-text">Some text about Hannah</p>
            </div>
            <div class="flex flex-col flex-1 gap-[20px] justify-center items-center">
                <div class="h-[400px] w-[300px] bg-gray-400"></div>
            </div>
        </div>
    </div>

    <div class="absolute top-[-100px] left-0 w-screen h-[100px] overflow-hidden">
        <img src="/assets/icons/section-cloud.svg" alt=""
            class="absolute inset-0 w-full h-full object-cover object-center" />
    </div>
</section>

<!-- Carley's Video Section -->
<section class="bg-cream py-[80px] relative z-10">
    <div class="container">
        <div class="flex flex-col lg:flex-row gap-[80px]">
            <div class="flex flex-col flex-1 gap-[20px] justify-center items-end order-last lg:order-first">
                <video width="280" controls>
                    <source src="/assets/packages-hannah.MP4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="flex flex-col flex-1 gap-[20px] justify-center items-start text-center">
                <h2 class="text-navy heading-2-bold lg:max-w-md">Which package should I book?
                </h2>
                <p class="body-text lg:max-w-md">Our Coach Carley explains the differences between the packages so you
                    can
                    find the
                    right one for you!</p>
            </div>
        </div>
    </div>
</section>

<!-- Packages Section -->
<section class="bg-navy py-[80px] relative z-10">
    <div class="container">
        <div class="flex flex-col gap-[60px]">
            <h2 class="text-white heading-2-bold text-center">Explore Our Packages</h2>
            <div class="swiper mySwiper relative">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-cream rounded-[10px] p-[30px] h-full w-full">
                            <div class="flex flex-col gap-[20px]">
                                <div class="flex flex-col gap-[10px]">
                                    <h3 class="heading-5-bold text-navy">Sleep Reset</h3>
                                    <h3 class="heading-6-normal text-navy">£65</h3>
                                </div>
                                <ul class="flex flex-col gap-[10px]">
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">30 Minute Call</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">1 Hour Consultation</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">3 Follow Up Emails</p>
                                    </li>
                                </ul>
                                <p class="body-text text-navy">For children of all ages, a call where you can ask us
                                    anything you want to reset your little ones overall sleep. We’ll
                                    guide you on consistency and peaceful nights—no diary or plan needed, just
                                    clear,
                                    practical solutions you can use right away.</p>
                                <button class="button-primary">Book Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cream rounded-[10px] p-[30px] h-full w-full">
                            <div class="flex flex-col gap-[20px]">
                                <div class="flex flex-col gap-[10px]">
                                    <h3 class="heading-5-bold text-navy">Troubleshoot</h3>
                                    <h3 class="heading-6-normal text-navy">£180</h3>
                                </div>
                                <ul class="flex flex-col gap-[10px]">
                                    <li class="flex gap-[8px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">3-5 Day Sleep Diary Review</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">1 Hour Consultation</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">3 Follow Up Emails</p>
                                    </li>
                                </ul>
                                <p class="body-text text-navy">After booking, you'll receive a Sleep Diary to
                                    complete. In a
                                    one-hour
                                    consultation, we’ll review it, discuss strategies for your child, and leave with
                                    a clear
                                    plan to implement—no written plan included, so bring a pen and paper.</p>
                                <button class="button-primary">Book Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cream rounded-[10px] p-[30px] h-full w-full">
                            <div class="flex flex-col gap-[20px]">
                                <div class="flex flex-col gap-[10px]">
                                    <h3 class="heading-5-bold text-navy">1:1 Personalised Sleep Coaching</h3>
                                    <h3 class="heading-6-normal text-navy">£290</h3>
                                </div>
                                <ul class="flex flex-col gap-[10px]">
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">3-5 Day Sleep Diary Review</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">1 Hour Consultation</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">Weekly WhatsApp check-in for 4 weeks</p>
                                    </li>
                                </ul>
                                <p class="body-text text-navy">This package helps you gain confidence in improving
                                    your
                                    little one’s sleep, with follow-up WhatsApp support. Use your weekly check-ins
                                    however
                                    you like within 8 weeks. An AI-generated summary is also available on request.
                                </p>
                                <button class="button-primary">Book Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cream rounded-[10px] p-[30px] h-full w-full">
                            <div class="flex flex-col gap-[20px]">
                                <div class="flex flex-col gap-[10px]">
                                    <h3 class="heading-5-bold text-navy">The Village</h3>
                                    <h3 class="heading-6-normal text-navy">£425</h3>
                                </div>
                                <ul class="flex flex-col gap-[10px]">
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">3-5 Day Sleep Diary Review</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">1 Hour Consultation</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">Weekly WhatsApp check-in for 4 weeks</p>
                                    </li>
                                </ul>
                                <p class="body-text text-navy">This package helps you gain confidence in improving
                                    your
                                    little one’s sleep, with follow-up WhatsApp support. Use your weekly check-ins
                                    however
                                    you like within 8 weeks. An AI-generated summary is also available on request.
                                </p>
                                <button class="button-primary">Book Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cream rounded-[10px] p-[30px] h-full w-full">
                            <div class="flex flex-col gap-[20px]">
                                <div class="flex flex-col gap-[10px]">
                                    <h3 class="heading-5-bold text-navy">Sleep Overhaul</h3>
                                    <h3 class="heading-6-normal text-navy">£695</h3>
                                </div>
                                <ul class="flex flex-col gap-[10px]">
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">3-5 Day Sleep Diary Review</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">1 Hour Consultation</p>
                                    </li>
                                    <li class="flex gap-[5px]">
                                        <img src="/assets/icons/check.svg"
                                            class="w-[24px] bg-[#E6E3D1] rounded-full p-[4px]" />
                                        <p class="body-text text-navy">Complete Sleep Plan</p>
                                    </li>
                                </ul>
                                <p class="body-text text-navy">This package helps you gain confidence in improving
                                    your
                                    little one’s sleep, with follow-up WhatsApp support. Use your weekly check-ins
                                    however
                                    you like within 8 weeks. An AI-generated summary is also available on request.
                                </p>
                                <button class="button-primary">Book Now</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            </div>
        </div>
    </div>
</section>

<!-- Bottom Section -->
<section class="bg-white py-[80px] z-10 relative mb-[480px]">
    <div class="container h-full">
        <div class="flex flex-col lg:flex-row gap-[40px]">
            <div class="flex flex-col flex-1 gap-[20px]">
                <h2 class="text-navy heading-2-bold">Frequently Asked Questions</h2>
                <p class="body-text hidden lg:block">Still have a question? <br />Reach out to us by
                    <a href="mailto:info@centre-screen.com" class="text-teal underline">email</a> or
                    <a href="https://www.instagram.com/centre.screen/" class="text-teal underline">Instagram</a>.
                </p>
            </div>
            <div class="flex flex-col w-full flex-1">
                <div class="w-full flex flex-col pb-[20px] border-b-[3px] border-dashed border-terqoise">
                    <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false"
                        data-accordion-trigger>
                        <span class="flex items-center w-[40px] h-[40px]">
                            <img src="/assets/icons/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]"
                                data-icon-plus>

                            <img src="/assets/icons/accordion-sun.svg" alt="Moon Icon" class="hidden w-[40px]"
                                data-icon-minus>

                        </span>
                        <h3 class="text-navy heading-6-medium text-left">Will you use any cry it out strategies? </h3>
                    </button>

                    <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
                        data-accordion-content style="max-height: 0px;">
                        <p class="text-navy mt-[20px]">
                            No, never. The most direct we’re willing to go with a strategy is if your child cries
                            because you’ve changed something you pick them up and co regulate them.
                        </p>
                    </div>


                </div>

                <div class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise">
                    <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false"
                        data-accordion-trigger>
                        <span class="flex items-center w-[40px] h-[40px]">
                            <img src="/assets/icons/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]"
                                data-icon-plus>

                            <img src="/assets/icons/accordion-sun.svg" alt="Moon Icon" class="hidden w-[40px]"
                                data-icon-minus>

                        </span>
                        <h3 class="text-navy heading-6-medium text-left"> ⁠What kind of strategies do you use?</h3>
                    </button>

                    <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
                        data-accordion-content style="max-height: 0px;">
                        <p class="text-navy mt-[20px]">
                            We start with optimizing sleep pressure which can often solve everything for you but if not
                            then we move onto evidenced based strategies that take into consideration your child’s
                            developmental stage. This is after a holistic review at various points within your follow up
                            support. We have lots of tips that we’ve picked up through our experience with working with
                            hundreds of families that we’ll share with you too.
                        </p>
                    </div>


                </div>

                <div class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise">
                    <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false"
                        data-accordion-trigger>
                        <span class="flex items-center w-[40px] h-[40px]">
                            <img src="/assets/icons/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]"
                                data-icon-plus>

                            <img src="/assets/icons/accordion-sun.svg" alt="Moon Icon" class="hidden w-[40px]"
                                data-icon-minus>

                        </span>
                        <h3 class="text-navy heading-6-medium text-left">Do I need to stay at home while working on
                            sleep?</h3>
                    </button>

                    <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
                        data-accordion-content style="max-height: 0px;">
                        <p class="text-navy mt-[20px]">
                            No. We want you to be able to do life along with getting better sleep. Your baby will have
                            accidental naps on the go at times or solely have naps on the go, this is fine and we’ll
                            teach you how to manage days that don’t go to plan.
                            - ⁠Do I have to stop feeding to sleep? No! We have seen babies have strong associations to
                            feeding to sleep but you don’t have to stop feeding to improve sleep.

                        </p>
                    </div>
                </div>

                <div class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise">
                    <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false"
                        data-accordion-trigger>
                        <span class="flex items-center w-[40px] h-[40px]">
                            <img src="/assets/icons/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]"
                                data-icon-plus>

                            <img src="/assets/icons/accordion-sun.svg" alt="Moon Icon" class="hidden w-[40px]"
                                data-icon-minus>

                        </span>
                        <h3 class="text-navy heading-6-medium text-left">Can I upgrade if I want more support?</h3>
                    </button>

                    <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
                        data-accordion-content style="max-height: 0px;">
                        <p class="text-navy mt-[20px]">
                            Yes - you can pay the difference between packages and upgrade at any time.
                        </p>
                    </div>


                </div>

                <div class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise">
                    <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false"
                        data-accordion-trigger>
                        <span class="flex items-center w-[40px] h-[40px]">
                            <img src="/assets/icons/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]"
                                data-icon-plus>

                            <img src="/assets/icons/accordion-sun.svg" alt="Moon Icon" class="hidden w-[40px]"
                                data-icon-minus>

                        </span>
                        <h3 class="text-navy heading-6-medium text-left">Do you do payment plans?</h3>
                    </button>

                    <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
                        data-accordion-content style="max-height: 0px;">
                        <p class="text-navy mt-[20px]">
                            Not right now unfortunately, this may be something we offer in future.
                        </p>
                    </div>
                </div>

                <div class="w-full flex flex-col pt-[20px] pb-[20px] border-b-[3px] border-dashed border-terqoise">
                    <button class="flex items-center cursor-pointer gap-[12px]" aria-expanded="false"
                        data-accordion-trigger>
                        <span class="flex items-center w-[40px] h-[40px]">
                            <img src="/assets/icons/accordion-moon.svg" alt="Moon Icon" class="block w-[32px]"
                                data-icon-plus>

                            <img src="/assets/icons/accordion-sun.svg" alt="Moon Icon" class="hidden w-[40px]"
                                data-icon-minus>

                        </span>
                        <h3 class="text-navy heading-6-medium text-left">⁠What happens after I book?</h3>
                    </button>

                    <div class="w-full overflow-hidden transition-[max-height] duration-500 ease-in-out"
                        data-accordion-content style="max-height: 0px;">
                        <p class="text-navy mt-[20px]">
                            You’ll get a booking confirmation email with a link to a sleep diary. Fill this out and
                            email
                            it back to us 24 hours before your consultation. We’ll review this before your consultation
                            and be ready to talk you through what we’ve found.

                        </p>
                    </div>


                </div>

            </div>
            <p class="body-text lg:hidden">Still have a question? <br />Reach out to us by <a
                    href="mailto:info@centre-screen.com" class="text-teal underline">email</a> or
                <a class="text-teal underline" href="https://www.instagram.com/centre.screen/">Instagram</a>.
            </p>
        </div>
    </div>

    <div class="absolute bottom-[-100px] left-0 w-screen h-[100px] overflow-hidden">
        <img src="/assets/icons/section-cloud.svg" alt=""
            class="absolute rotate-180 inset-0 w-full h-full object-cover object-center" />
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    document.querySelectorAll('[data-accordion-trigger]').forEach(button => {
        const content = button.nextElementSibling;
        const iconPlus = button.querySelector('[data-icon-plus]');
        const iconMinus = button.querySelector('[data-icon-minus]');

        button.addEventListener('click', () => {
            const isExpanded = button.getAttribute('aria-expanded') === 'true';

            if (isExpanded) {
                content.style.maxHeight = '0';
                button.setAttribute('aria-expanded', 'false');
                iconPlus.classList.remove('hidden');
                iconMinus.classList.add('hidden');
            } else {
                content.style.maxHeight = content.scrollHeight + 'px';
                button.setAttribute('aria-expanded', 'true');
                iconPlus.classList.add('hidden');
                iconMinus.classList.remove('hidden');
            }
        });
    });
</script>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",
        spaceBetween: 30,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>